@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  display: flex;
  justify-content: center;
  height: 100vh;
  background-color: #f3f4f6;
}

#glockenspiel {
  cursor: url("./assets/mallet.png"), auto;
}
